body{
  color: #f00;
  /* Case1: */
  width: 200PX;

  /* Case2: */
  border: 10px;

  /* Case3: */
  font-size: 12.34px;

  /* Case4: */
  border: 10px solid #f00;

  /* Case5: */
  border-left:12.33px solid #f00;

  /* Case6: */
  border:1PX solid #f00;

  /* Case7: */
  padding: 0 10px;
}
